@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;

    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

html
{
  position:fixed;
  width:100%;
  height:100%;
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
}

main{
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    width: 375px;
    height: 100vh;
    margin: auto;
}

.resultadoArea{
    width: 308px;
    height: 220px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 48px;
    color: #FFFFFF;
}


section{
    width: 308px;
    height: 400px;
    margin: auto;
    
}

button{
    border-radius: 16px;
    cursor: pointer;
}

/* Botões númericos lado esquerdo */

section .buttonArea1{
    width: 226px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    float: left;
   
}

section .buttonArea1 button {
    width: 62px;
    height: 62px;
    color: #29A8FF;
    background-color: #303136;
    margin-right: 13px;
    margin-bottom: 22px;
}

section .buttonArea1 button:nth-child(4),
section .buttonArea1 button:nth-child(5),
section .buttonArea1 button:nth-child(6),
section .buttonArea1 button:nth-child(7),
section .buttonArea1 button:nth-child(8),
section .buttonArea1 button:nth-child(9),
section .buttonArea1 button:nth-child(10),
section .buttonArea1 button:nth-child(11),
section .buttonArea1 button:nth-child(12){
    margin-bottom: 16px;
}

section .buttonArea1 button:nth-child(13){
    width: 138px;
}


/* Operadores matemáticos lateral direita */

.buttonArea2{
    display: grid;
    width: 62px;
}

.buttonArea2 button{
    width: 62px;
    height: 62px;
    margin-bottom: 25px;
    background-color: #303136;
    color: #29A8FF;
}

.buttonArea2 button:nth-child(3),
.buttonArea2 button:last-child{
    height: 90px;
}




















